.nav-container{
    background-color: #a7d1ec;
    display: flex;
    align-items: center;
    padding-left: 150px; 
    height: 80px;
}

.icon{
    font-size: 40px;
    padding-right: 15px;
}

@media only screen and (max-width: 700px) {
    .nav-container{
        padding-left: 15px; 
        height: 60px;
    }
}